body{
  background-image: url("images/blk_grn_bg_001.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

youtube, body{
  background-image: url("images/veggies_cutboard.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

menu, ul{
  color: red;
  list-style-type: none;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: 390px;


}

menu, li{
  display: inline;
  margin-left: 10px;
  font-family: 'Rock Salt', cursive;
  font-weight: 900;
}

menu, a{
  text-decoration: underline;
  color:  #00ff00;

}

menu, a:hover{

  text-decoration: none;
  color:  #ffa31a;

}

menu, a:visited{
  text-decoration: none;
  color:  #00ff00;
}

menubg{
  z-index: 1;
  float:left;
  background-color:#fff;
  width:900px;
  height:800px;
  padding:5%;
}



main-content, p{
  color: #fff;
  font-family: 'Rock Salt', cursive;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
main-content, iframe{
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
