body{
  background-color: #000;
}

menu, ul{
  color: red;
  list-style-type: none;
  z-index: 2;


}

menu, li{
  display: inline;
  margin-left: 10px;
  font-family: 'Rock Salt', cursive;
  font-weight: 900;
}

menu, a{
  text-decoration: underline;
  color:  #00ff00
;

}

menu, a:hover{

  text-decoration: none;
  color:  #ffa31a
;

}

menu, a:visited{
  text-decoration: underline;
  color:  #00ff00
;
}

menubg{
  z-index: 1;
  float:left;
  background-color:#fff;
  width:900px;
  height:800px;
  padding:5%;
}



main-content, p{
  color: #fff;
  font-family: 'Rock Salt', cursive;
  display: inline;
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 50px;
  margin bottom: 20px;

}
